.carte-noir {
  width: 170px;
  height: 250px;
  background-color: #c3c2c2c7;
  transform: translate(25px, 25px);
  border-radius: 30%;
  opacity: 0.8;
}
.carte-noir p {
  margin-left: 44px;
  font-size: 14px;
}
.carte-noir img {
  width: 50px;
  height: 50px;
  margin-top: 50px;
}
