.evenement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #eeeeee;
  width: 180px;
  height: 250px;
  margin-top: -54%;
  margin-left: 1%;
  border-radius: 5%;
}

.evenement-content {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 25px;
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
