#evenement.normalclass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #dcdbdb;
  width: 180px;
  height: 260px;
  margin-top: -38%;
  margin-left: 1%;
  border-radius: 5%;
  transition: 0.9s;
}
#evenement.fixe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #dcdbdb;
  width: 180px;
  height: 250px;
  margin-top: -20%;
  margin-left: 1%;
  border-radius: 5%;
  transition: 0.9s;
}
.evenement-content {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 25px;
  padding: 3px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
